body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header,
#hero-section {
    padding: 0 100px;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

#header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

#hero-section {
    background-color: #1f2937;
    display: flex;
    padding: 50px 100px;
    align-items: center;
    gap: 16px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-button,
#call-button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    padding: 8px 24px;
    margin-top: 8px;
}

#hero-content {
    flex: 1;
}

#hero-img-container {
    flex: 1;
}

#hero-img {
    max-width: 100%;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

#info-container {
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    margin-bottom: 100px;
    gap: 20px;
    text-align: center;
}

#quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

#quote-author {
    display: flex;
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

#call-section {
    background-color: #3882F6;
    color: white;
    margin: 100px;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

#call-header {
    font-weight: 800;
    font-size: 24px;
}

#call-button {
    border: solid;
    border-width: thin;
    border-color: white;
}

#footer-text {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 50px;
}